/* CSS RIVISION PART-1 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p
{
    color: #f5deb3;
}

body
{
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-image: url(https://images.pexels.com/photos/35061233/pexels-photo-35061233/free-photo-of-lonely-bench-in-park-with-birds-perched.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

.box
{
    /* height: 100px; */
    width: 500px;
    background-color: #afeeee;
    border: 2px solid red;
}

#card
{
    height: 600px;
    width: 500px;
    background-color:chocolate;
    /* z-index: 2; */
}

.box div
{
    height: 300px;
    width: 250px;
    background-color: darkcyan;
    border: 2px solid;
}

#card > div
{
    height: 200px;
    width: 200px;
    background-color:slategray;
    border: 2px dashed;
}

/* General Sibling Selector */
#card ~ .sibling    
{
    height: 200px;
    width: 200px;
    background-color: #40e0d0;
}

/* Adjacent Sibling Selector */
#card + .sibling
{
    height: 200px;
    width: 200px;
    background-color: #fffff0;
}

.boxmodel
{
    height: 250px;
    width: 250px;
    background-color: teal;

    box-sizing: content-box;
    border: 5px solid;

    /* margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px; */

    /* margin: 20px; */

    margin: 20px 10px 30px 15px;
    padding: 30px 20px;

    /* display Properties */

    /* display: inline;         height and weight apply nahi hota*/

    /* display: block; */

    /* display: inline-block;      inline hokar bhi -> height and weight apply ho jota */

    /* display: none;               Na dikhega aur na hi space occupy karega*/        
}

.text
{
    border: 2px solid;
    background-color: #000000;
    color: red;
    /* text-align: center; */
    /* text-align: end; */
    /* text-align: left; */
    /* direction: rtl; */
    text-decoration: underline;
    text-transform: capitalize;
    text-indent: 200px;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 100px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    font-variant: small-caps;
    font-weight: 100;
}

.parent
{
    
    margin: 100px auto;
    height: 1000px;
    /* width: 1000px; */
    background-color: sandybrown;
    display: flex;
    /* justify-content: center;
    justify-content: end;
    justify-content: start; */

    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */

    /* align-items: start; */
    /* align-items: end; */
    align-items: center;

    gap: 200px;

    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* flex-direction: column; */

    /* flex-wrap: wrap; */
}

.child
{
    height: 200px;
    width: 200px;
    border: 1px solid;
    text-align: center;
}

.child1
{
    align-self: flex-end;
    background-color: red;
}


.child2
{
    align-self: flex-start;

    background-color: blue;
}

.child3
{
    flex-grow: 2;
    background-color: green;
}

.child4
{
    flex-shrink: 5;
    background-color: rgb(255, 255, 57);
}

.child5
{

    flex: 5 2;
    background-color: teal;
}

