*
{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

.nav
{
    height: 10svh;
    width: 100svw;

    display: flex;

    border: 2px solid #000000;

    justify-content: space-between;

    align-items: center;
    padding: 5px;
}

.logo
{
    text-align: center;
    /* border: 2px solid #000000; */
}

.parent
{
    width: 15svw;
    /* border: 2px solid #000000; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}