body{
    background-color: lightsalmon;
}

div::after
{
    content: 'My Web';
    text-align: center;
    background-color:white;
    display: block;
    font-size: 2rem;
}


@media(min-width: 400px)
{
    body
    {
        background-color:aqua;
    }

    div::after
    {
        content: "Smaller one";
        text-align: center;
        background-color:white;
        display: block;
        font-size: 2rem;
    }
}

@media (min-width : 900px)
{
    body
    {
        background-color: bisque;
    }

    div::after
    {
        content: "Big Size";
        text-align: center;
        background-color:white;
        display: block;
        font-size: 2rem;
    }
}

@media(max-width:300px)
{
    body
    {
        background-color:black;
    }

    div::after
    {
        content: "Used Max Width";
        text-align: center;
        background-color:white;
        display: block;
        font-size: 2rem;
    }
}


@media(min-width:1000px) and (max-width:1100px)
{
    body
    {
        background-color:springgreen;
    }

    div::after
    {
        content: "Used Range Width";
        text-align: center;
        background-color:white;
        display: block;
        font-size: 2rem;
    }

}

@media(1100px <= width <= 100svw)
{
    body
    {
        background-color:#708090;
    }

    div::after
    {
        content: "Used Latest Range Width";
        text-align: center;
        background-color:white;
        display: block;
        font-size: 2rem;
    }
}

