div
{
    height: 500px;
    width:20px;
    background-color: #00ced1;
    margin: auto;
    position:relative;
    animation-name: dolan;
    animation-duration: 5s;
    border-top: fixed;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    
    


}


@keyframes dolan
{
    0%
    {
        background-color: #ffdead;
        top: 0px;
        left: 0px;
        rotate: 0deg;

    }

    25%
    {
        background-color: #f08080;
        top: 0px;
        left: 320px;
        rotate: 90deg;
    }

    50%
    {
        background-color: #00ff7f;
        top: 160px;
        left: 320px;
        rotate: 180deg;

    }

    75%
    {
        background-color: #808080;
        top: 160px;
        left: 0px;
        rotate: 0deg;
        

    }

    100%
    {
        background-color: #6a0000;
        top: 0px;
        left: 0px;
        rotate: 0deg;

    }
}