*
{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

.parent
{
    width: 100svw;
    height: 500px;
    border: 2px solid #000000;
    display:flex;

    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */

    /* justify-content:center; */
    /* justify-content:center; */
    /* align-items: center; */
    /* align-content: center; */

    

}

.box
{
    width: 100px;
    height: 100px;
}

.box1
{
    background-color: #ff0000;
}

.box2
{
    background-color: #666;
}

.box3
{
    background-color: #333;
    align-self: center;

    /* flex-grow: 0.5; */
    /* flex-shrink: 5; */
    
}