/* CSS RIVISION */

*
{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    font-family: "Dancing Script", cursive;

    
    
    
    


}

body
{

    background-image: url(https://images.pexels.com/photos/34123182/pexels-photo-34123182/free-photo-of-stunning-sunset-over-wildschonau-mountains.jpeg);
    background-size: cover;
    background-attachment: fixed;
    
   



    color: #ffffff;
}

.heading
{
    color:brown;
    

    /* padding: 100px; */

    /* padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-right: 100px; */

    padding: 100px 100px 100px 200px;
    margin: 100px 100px 100px 350px;

    border: 5px solid black;
    width: 550px;
    text-decoration:underline;
    text-transform:capitalize;
    text-indent: 50px;
    letter-spacing: 10px;
    word-spacing: 20px;
    line-height: 100px;
    font-size: 32px;
    font-variant: small-caps;
    font-weight: 900px;  
    /* font weight ka output nahi aaya */
    
    
}

.heading1
{
    color: #ffa07a;
}

.heading2
{
    color: #8b4513;
}

#idname
{
    color: #a52a2a;
    
    text-align-last: center;
    width: 500px;
    margin-left: 500px;
    direction: rtl;

    
}

.heading1,.heading2
{
    text-align: center;
}

[target="_blank"]
{
    color: #a52a2a;
}

main h1
{
    color: #deb887;
}

section > h1
{
    color: #00ff7f;
    background-image: url(https://images.pexels.com/photos/33429090/pexels-photo-33429090/free-photo-of-serene-swan-gliding-on-tranquil-blue-lake.jpeg);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section + h1
{
    color: #000080;
}


section ~ h1
{
    color: #808080;
    
}