div{

    background-color: gray;

    height: 100px;
    width: 100px;

    margin-left: auto;
    margin-right: auto;

    transition-duration: 2s;
    transition-delay: 1s;
    transition-timing-function: linear;


}

div:hover
{
    background-color: cadetblue;

    border-radius: 50%;
}